@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Syne:wght@800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-['Inter'] bg-black text-white antialiased selection:bg-orange-600/30;
    background-image: 
      linear-gradient(rgba(26, 26, 26, 0.4) 1px, transparent 1px),
      linear-gradient(90deg, rgba(26, 26, 26, 0.4) 1px, transparent 1px);
    background-size: 30px 30px;
  }
}

.logo-font {
  font-family: 'Syne', sans-serif;
  letter-spacing: -0.05em;
}

.mad-orange {
  background-color: #FF4B00;
}

.text-mad-orange {
  color: #FF4B00;
}

.mad-card {
  @apply bg-zinc-900 overflow-hidden rounded-md border border-zinc-800 transition-all duration-300 active:scale-95;
}

.mad-button-bar {
  @apply mad-orange h-12 flex items-center justify-between px-4 mt-auto;
}

